{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Containers List</h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Container Active</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <!-- <th>Id</th> -->
                            <th>Status</th>
                            <th>IP Address</th>
                            <th>Image Name</th>
                            <th>Port</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for container in containers %}
                        <tr>
                            <td><a href="containers/{{ container.id }}">{{ container.name }}</a></td>
                            <!-- <td>{{ container.id }}</td> -->
                            <td><div class="badge badge-success">{{ container.status }}</div></td>
                            <td>{{ container.attrs['NetworkSettings']['IPAddress'] }}</td>
                            <td>{{ container.attrs['Config']['Image'] }}</td>
                            <td>{{ container.attrs['Config']['ExposedPorts'] }}</td>
                            <td>
                                <a href="container/{{ container.id }}/restart" class="btn btn-success btn-sm"><i class="fas fa-play"></i> Restart</a>
                                <a href="container/{{ container.id }}/stop" class="btn btn-danger btn-sm"><i class="fa fa-stop-circle"></i> Stop</a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}

{% block js %}
{{ super() }}
<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
{% endblock %}